<header>
  <!-- Logo -->
  <a class='logo' href="{{ '/' | relative_url }}">
    <img src="{{ site.data.media_path.logo_long_white | relative_url }}" alt="橡树工作室 Logo">
  </a>

  <!-- 桌面导航 -->
  <nav>
    <!-- 首页 -->
    <div class="nav-item">
      <a href="{{ '/' | relative_url }}" class="dropbtn">首页</a>
    </div>
    
    <div class="nav-item">
      <a class="dropbtn">渠道运营</a>
      <div class="dropdown-content">
        <a href="{{ '/web/' | relative_url }}">独立站</a>
        <a href="{{ '/alibaba/' | relative_url }}">国际站</a>
        <a href="{{ '/socialmedia/' | relative_url }}">海外社媒</a>
      </div>
    </div>  

    <div class="nav-item">
      <a class="dropbtn">广告投放</a>
      <div class="dropdown-content">
        <a href="{{ '/googleads/' | relative_url }}">谷歌广告</a>
        <a href="{{ '/fbads/' | relative_url }}">Facebook广告</a>
      </div>
    </div>

    <div class="nav-item">
      <a class="dropbtn">学习交流</a>
      <div class="dropdown-content">
        <a href="{{ '/blog/' | relative_url }}">外贸资料</a>
        <a href="{{ '/tools/' | relative_url }}">三方工具</a>
      </div>
    </div>

    <div class="nav-item">
      <a href="{{ '/about/' | relative_url }}" class="dropbtn">关于我们</a>
    </div>

    <!-- 微信二维码（移动端） -->
    <div class="mobile-nav-right">
      <img src="{{ site.data.media_path.wechat_qr | relative_url }}" alt="微信二维码">
    </div>
  </nav>

  <!-- 微信二维码（桌面版） -->
  <div class="nav-right">
    <div class="hover-container">
      <img src="{{ '/assets/images/3rd-party-icons/wechat.svg' | relative_url }}" alt="微信图标" class="wechat-icon">
      <img src="{{ site.data.media_path.wechat_qr | relative_url }}" alt="微信二维码" class="hover-image">
    </div>
  </div>

  <!-- 移动端菜单切换按钮 -->
  <div class="mobile-nav-toggle"></div>
</header>
